zombie\ text./*
zombie\ text.materials/*
zombie\ text.inform/Build/*
zombie\ text.inform/Index/*
zombie\ text.inform/manifest.plist
zombie\ text.inform/notes.rtf
zombie\ text.inform/Metadata.iFiction
zombie\ text.inform/Release.blurb
