zumbie\ text./*
zumbie\ text.materials/*
zumbie\ text.inform/Build/*
zumbie\ text.inform/Index/*
zumbie\ text.inform/manifest.plist
zumbie\ text.inform/notes.rtf
zumbie\ text.inform/Settings.plist
zumbie\ text.inform/Skein.skein
